{% extends "_base.html" %}
{% block "body" %}
<div class="pure-g mik-container mik-pad-top-5">
  <div class="pure-u-1">

      <a href="{{payment_button_link}}" rel="noopener noreferrer nofollow" target="_blank">
        <img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/1.png" />
      </a>

    <h2>Looking Forward for your response</h2>
    
    {% if transdata_error %}
    <div class="error">
      <b>Error code</b> {{transdata_error.status_code}}</br>
      <b>Reason</b> {{transdata_error.reason}}</br>
      <b>More info</b> {{transdata_error.message}}</br>
    </div>
    {% endif %}
    {% if transdata %}
    
    {% if pagination.has_prev_page %}
    <a href="{% url 'main' %}?page={{pagination.prev_page}}">Previous page</a>
    {% endif %}
    {% if pagination.has_next_page %}
    <a href="{% url 'main' %}?page={{pagination.next_page}}">Next page</a>
    {% endif %}
    
    <table class="pure-table">
      <thead>
        <tr>
          <th>Id
            <!-- <a href="{% url 'main' %}?sort=id_asc"> Asc </a> | <a href="{% url 'main' %}?sort=id_desc">         Desc </a> -->
          </th>
          <th>Status
            <!-- <a href="{% url 'main' %}?sort=status_asc"> Asc </a> | <a href="{% url 'main' %}?sort=status_desc"> Desc </a> -->
          </th>
          <th>Amount
            <!-- <a href="{% url 'main' %}?sort=amount_asc"> Asc </a> | <a href="{% url 'main' %}?sort=amount_desc"> Desc </a> -->
          </th>
          <th>Link </th>
        </tr>
      </thead>
      <tbody>
        {% for item in transdata.orders %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.status}}</td>
          <td>${{item.price_amount}} in {{item.price_currency}}</td>
          <td><a href="{{item.payment_url}}">Link</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
</div>

{% endblock %}
